form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.label-input {
  display: flex;
  flex-direction: column;
}

.label-input label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.label-input input {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.3s ease-in-out;
  width: 100%;
}

.label-input input:focus {
  border-color: #ba8b65;
  box-shadow: 0 0 5px rgba(255, 157, 0, 0.232);
  background-color: rgba(240, 248, 255, 0.278);
}

.btn-container {
  padding: 0px 170px 0px 170px;
  button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  button:hover {
    background: #0056b3;
  }
}
