.carrito {
  position: relative;
  cursor: pointer;
  color: black;

  svg {
    width: 30px;
    height: 30px;
  }

  .carrito-cantidad {
    position: absolute;
    font-size: 1.1rem;
    top: -13px;
    left: 13px;
  }
}
