#main {
  .item-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .loading-spinner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .item-products {
      justify-content: center;
      display: flex;
      gap: 50px;
    }
  }
}
