#header {
  display: flex;
  background-color: rgb(242, 231, 231);
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  .logo-titulo {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      width: 100px;
    }
  }

  .navbar {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 20px;
    ul {
      display: flex;
      gap: 15px;
      list-style: none;
    }
  }
}
