* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}

html,
body {
  height: 100%;
}

main {
  min-height: 100vh;
}

.navbar-footer ul li a,
nav a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  border: solid 3px black;
  padding: 4px;
  font-weight: bold;
  border-radius: 100px;
}
