* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}

@keyframes shake {
  0%,
  12% {
    transform: rotate(0);
  }
  2%,
  6%,
  10% {
    transform: translateY(-2px) rotate(-2deg);
  }
  4%,
  8% {
    transform: translateY(2px) rotate(2deg);
  }
}

html,
body {
  height: 100%;
}

main {
  min-height: 100vh;
}

.navbar-footer ul li a,
nav a {
  text-decoration: none;
  color: black;
  transition: color 0.2s ease, background-color 0.4s ease;
  padding: 5px;
}

.titlePage {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

nav a:hover,
.navbar-footer ul li a:hover {
  text-decoration: underline;
  color: #0000007e;
}

.navbar-footer ul li a.active,
nav a.active {
  color: white;
  background-color: #98806299;
  border-radius: 5px;
  font-weight: bold;
}

.navbar-footer ul li a.active:hover,
nav a.active:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #7a644e96;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #706c6c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
